*{
    margin:0 auto;
    padding:0;
}
:root{
    /* font_variable */
    --primary-fonts:sans-sarif;
    --secondary-fonts:cursive;
    /* color_variable */
    --primary:#FD5934;
    --secondary:#575757;
    background-color: #FFEDF9;
}

div#banner_section {
    padding: 28px 0;
}
.container_inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family:var(--primary-fonts);
}